<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Welcome from '@/Components/Welcome.vue';
import barchart from '@/charts/barchart.vue';
import pie from '@/charts/pie.vue';
import line from '@/charts/line.vue';
</script>
<script>
    export default {
        props: {
            count_users: Object,
            count_problemas: Object,
            count_problemas_table: Object,
            count_insumos: Object,
            count_problemas_solucionados: Object,
            count_problemas_month: Object,
        },

        data () {
            return {
            }
        },

        methods: {
        }

    }
</script>

<template>
<AppLayout title="Dashboard">
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">

                    <div class="container max-w-6xl px-5 mx-auto my-10">
                        <div class="grid gap-7 sm:grid-cols-2 lg:grid-cols-4">
                            <div class="flex items-center justify-between p-5 bg-white rounded shadow-sm">
                                <div>
                                    <div class="text-sm text-gray-400 ">Problemas a solucionar</div>
                                    <div class="flex items-center pt-1">
                                        <div class="text-xl font-medium text-indigo-400 ">{{ count_problemas }}</div>
                                    </div>
                                </div>
                                <div class="text-gray-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 51 51">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M48.875 12.75L28.687 32.938 18.063 22.312 2.126 38.25"></path>
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M36.125 12.75h12.75V25.5"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex items-center justify-between p-5 bg-white rounded shadow-sm">
                                <div>
                                    <div class="text-sm text-gray-400 ">Insumos</div>
                                    <div class="flex items-center pt-1">
                                        <div class="text-xl font-medium text-indigo-400 ">{{ count_insumos }}</div>
                                    </div>
                                </div>
                                <div class="text-gray-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 47 46">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M41.536 30.456a19.21 19.21 0 01-5.675 7.4 19.771 19.771 0 01-8.557 3.937c-3.138.608-6.38.455-9.444-.447a19.673 19.673 0 01-8.129-4.725 19.1 19.1 0 01-4.92-7.902 18.775 18.775 0 01-.564-9.237 18.98 18.98 0 013.923-8.419 19.538 19.538 0 017.497-5.639"></path>
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M43.083 23c0-2.517-.506-5.01-1.49-7.335a19.142 19.142 0 00-4.246-6.218 19.617 19.617 0 00-6.353-4.155A19.953 19.953 0 0023.5 3.833V23h19.583z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex items-center justify-between p-5 bg-white rounded shadow-sm">
                                <div>
                                    <div class="text-sm text-gray-400 ">Usuarios Registrados</div>
                                    <div class="flex items-center pt-1">
                                        <div class="text-xl font-medium text-indigo-400">{{ count_users }}</div>
                                    </div>
                                </div>
                                <div class="text-gray-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 47 46">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M39.167 40.25v-3.833a7.585 7.585 0 00-2.295-5.422 7.92 7.92 0 00-5.539-2.245H15.667a7.92 7.92 0 00-5.54 2.245 7.585 7.585 0 00-2.294 5.422v3.833M23.5 21.083c4.326 0 7.833-3.432 7.833-7.666 0-4.235-3.507-7.667-7.833-7.667-4.326 0-7.833 3.432-7.833 7.667 0 4.234 3.507 7.666 7.833 7.666z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="flex items-center justify-between p-5 bg-white rounded shadow-sm">
                                <div>
                                    <div class="text-sm text-gray-400 ">Problemas Solucionados</div>
                                    <div class="flex items-center pt-1">
                                        <div class="text-xl font-medium text-indigo-400 ">{{ count_problemas_solucionados }}</div>
                                    </div>
                                </div>
                                <div class="text-gray-300">
                                    <svg class="w-8 h-8" viewBox="0 0 47 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.5 38.3334V19.1667" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M35.25 38.3334V7.66675" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M11.75 38.3334V30.6667" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex">


                        <div class="overflow-x-auto relative shadow-md sm:rounded-lg m-5 flex-1 w-80">
                            <table class="w-full text-sm text-left text-gray-500 ">
                                <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white ">
                                    Acciones proximas
                                    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Listado de las acciones proximas a ser ejecutadas por problema en hoja de minuta.</p>
                                </caption>
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                                    <tr >
                                        <th scope="col" class="py-3 px-6">
                                            Codigo Minuta
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            Responsable
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            Fecha de Aplicacion
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            <span class="sr-only">Accion</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="problema of count_problemas_table" class="bg-white border-b ">
                                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">
                                            {{ problema.minuta_id }}
                                        </th>
                                        <td class="py-4 px-6">
                                            {{ problema.responsable }}
                                        </td>
                                        <td class="py-4 px-6">
                                            {{ problema.fecha_aplicacion }}
                                        </td>
                                        <td class="py-4 px-6 text-right">
                                            <a :href="route('minuta.show', problema.minuta_id) + '#' + problema.fecha_aplicacion" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="shadow-lg rounded-lg overflow-hidden m-2 flex-1 w-20">
                            <barchart  class="p-4" :count_problemas_month="count_problemas_month"/>
                        </div>

                    </div>


                    <!-- <div class="flex p-2 m-4"> -->

                    <!--     <div class="shadow-lg rounded-lg overflow-hidden m-2"> -->
                    <!--         <pie /> -->
                    <!--     </div> -->

                    <!-- </div> -->

                </div>
            </div>
        </div>
    </AppLayout>
</template>
