<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { ref } from 'vue';
import { useForm } from '@inertiajs/inertia-vue3';
import ActionMessage from '@/Components/ActionMessage.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
</script>
<script>
export default {
  props: {
    user: Object,
    errors: Object
  },

  data () {
    return {
      form: {
        user_id: this.user.id,
        actualizado_por: this.user.id,
        supervisor: '',
        fecha: '',
        municipio: '',
        territorio: '',
        personal_supervisado: '',
        cs: 'Centro de Salud Dionisio Gutierrez, San Cristobal, Totonicapan',
        ps: '',
        cargo: '',
        observaciones: '',
      }
    }
  },

  methods: {
    submit () {
        this.$inertia.post(this.route('hoja-monitoreo.store'), this.form)
    },
  }

}
</script>

<template>
<AppLayout title="Dashboard">
    <template #header>
        <h2 class="font-semibold text-m text-gray-800 leading-tight">
            Crear nueva hoja de monitoreo
        </h2>
    </template>

    <div v-if="user.role !== 'Visitante'" class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-5">

                <FormSection @submitted="submit">

                    <template #title>
                        Creacion de nueva hoja de monitoreo
                    </template>

                    <template #description>
                        Una vez creada podras agregar insumos e informacion adicional
                    </template>

                    <template #form>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="fecha" value="Fecha" />
                            <TextInput
                                v-model="form.fecha"
                                type="date"
                                id="fecha"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.fecha" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="supervisor" value="Nombre Supervisor" />
                            <TextInput
                                v-model="form.supervisor"
                                type="text"
                                id="supervisor"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.supervisor" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="municipio" value="Municipio" />
                            <TextInput
                                v-model="form.municipio"
                                id="municipio"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.municipio" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="territorio" value="Territorio" />
                            <TextInput
                                v-model="form.territorio"
                                id="territorio"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.territorio" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="cs" value="C/S" />
                            <TextInput
                                v-model="form.cs"
                                id="cs"
                                placeholder="Centro de Salus Dionisio Gutierrez, San Cristobal, Totonicapan"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.cs" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="ps" value="P/S" />
                            <TextInput
                                v-model="form.ps"
                                id="ps"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.ps" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="personal_supervisado" value="Persoanl Supervisado" />
                            <TextInput
                                v-model="form.personal_supervisado"
                                id="personal_supervisado"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.personal_supervisado" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="cargo" value="Cargo" />
                            <TextInput
                                v-model="form.cargo"
                                id="cargo"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.cargo" class="mt-2" />
                        </div>

                    </template>

                    <template #actions>
                        <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Crear nueva hoja
                        </PrimaryButton>
                    </template>
                </FormSection>



            </div>
        </div>
    </div>
    <div v-else>
        No tienes acceso a esta vista, para mas informacion comuncate con un usuario administrador.
    </div>
</AppLayout>
</template>


