<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { ref } from 'vue';
import { useForm } from '@inertiajs/inertia-vue3';
import ActionMessage from '@/Components/ActionMessage.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';


const props = defineProps({
    user: Object,
    errors: Object,
    hoja: Object,
});


const form = useForm({
    _method: 'PUT',
        hoja_monitoreo_id: props.hoja.id,
        actualizado_por: props.user.id,
        aprovado_por: props.hoja.aprovado_por,
        supervisor: props.hoja.supervisor,
        municipio: props.hoja.municipio,
        territorio: props.hoja.territorio,
        fecha: props.hoja.fecha,
        cargo: props.hoja.cargo,
        cs: props.hoja.cs,
        ps: props.hoja.ps,
        personal_supervisado: props.hoja.personal_supervisado,
        aprovado: props.hoja.aprovado,
        observaciones: props.hoja.observaciones,
        photo: null,
});

const verificationLinkSent = ref(null);
const photoPreview = ref(null);
const photoInput = ref(null);

const updateProfileInformation = () => {
    if (photoInput.value) {
        form.photo = photoInput.value.files[0];
    }

    form.post(route('hoja-monitoreo.update', props.hoja.id), {
        preserveScroll: true,
        onSuccess: () => clearPhotoFileInput(),
    });
};


const selectNewPhoto = () => {
    photoInput.value.click();
};

const updatePhotoPreview = () => {
    const photo = photoInput.value.files[0];

    if (! photo) return;

    const reader = new FileReader();

    reader.onload = (e) => {
        photoPreview.value = e.target.result;
    };

    reader.readAsDataURL(photo);
};


const clearPhotoFileInput = () => {
    if (photoInput.value?.value) {
        photoInput.value.value = null;
    }
};

const getUserApproved = () => {
    if(form.aprovado_por == null){
        form.aprovado_por = props.user.id
    }else{
        form.aprovado_por = null
    }
};



</script>
<script>
export default{
    mounted(){
        if(this.form.aprovado){
            this.form.aprovado = true;
        }
    }
}
</script>

<template>
<AppLayout title="Dashboard">
    <template #header>
        <h2 class="font-semibold text-m text-gray-800 leading-tight">
            Editar cabecera hoja de monitoreo
        </h2>
    </template>

    <div v-if="user.role !== 'Visitante'" class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-5">

                <FormSection @submitted="updateProfileInformation">

                    <template #title>
                        Edicion hoja de monitoreo - {{ form.hoja_monitoreo_id }}
                    </template>

                    <template #description>
                        Una vez actualizada no se podra volver atras.
                    </template>

                    <template #form>

            <div class="col-span-6 sm:col-span-4">
                <!-- Profile Photo File Input -->
                <input
                    ref="photoInput"
                    type="file"
                    class="hidden"
                    @change="updatePhotoPreview"
                >

                <InputLabel for="photo" value="Foto" />

                <!-- New Profile Photo Preview -->
                <div v-show="photoPreview" class="mt-2">
                    <span
                        class="block rounded w-40 h-40 bg-cover bg-no-repeat bg-center"
                        :style="'background-image: url(\'' + photoPreview + '\');'"
                    />
                </div>

                <SecondaryButton class="rounded mt-2 mr-2 p-2 border uppercase text-xs pointer" type="button" @click.prevent="selectNewPhoto">
                    Seleccione una nueva foto
                </SecondaryButton>

                <InputError :message="form.errors.photo" class="mt-2" />
            </div>


                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="fecha" value="Fecha" />
                            <TextInput
                                v-model="form.fecha"
                                type="date"
                                id="fecha"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.fecha" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="supervisor" value="Nombre Supervisor" />
                            <TextInput
                                v-model="form.supervisor"
                                type="text"
                                id="supervisor"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.supervisor" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="municipio" value="Municipio" />
                            <TextInput
                                v-model="form.municipio"
                                id="municipio"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.municipio" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="territorio" value="Territorio" />
                            <TextInput
                                v-model="form.territorio"
                                id="territorio"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.territorio" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="cs" value="Centro de Salud" />
                            <TextInput
                                v-model="form.cs"
                                id="cs"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.cs" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="ps" value="P/S" />
                            <TextInput
                                v-model="form.ps"
                                id="ps"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.ps" class="mt-2" />
                        </div>

                        <div  class="col-span-6 sm:col-span-4">
                            <div class="flex items-center">
                                <input id="aprovado" name="aprovado" type="checkbox" v-model="form.aprovado" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                <label for="aprovado" class="ml-2 block text-sm text-gray-900">Aprobar</label>
                            </div>
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="personal_supervisado" value="Persoanl Supervisado" />
                            <TextInput
                                v-model="form.personal_supervisado"
                                id="personal_supervisado"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.personal_supervisado" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="cargo" value="Cargo" />
                            <TextInput
                                v-model="form.cargo"
                                id="cargo"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.cargo" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="observaciones" value="Observaciones Generales" />
                            <TextInput
                                v-model="form.observaciones"
                                id="observaciones"
                                type="text"
                                class="mt-1 block w-full"
                            />
                            <InputError :message="errors.observaciones" class="mt-2" />
                        </div>

                    </template>

                    <template #actions>
                        <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Guardar
                        </PrimaryButton>
                    </template>
                </FormSection>


            </div>
        </div>
    </div>
    <div v-else>
        No tienes acceso a esta vista, para mas informacion comuncate con un usuario administrador.
    </div>
</AppLayout>
</template>

            <!-- $table->string('supervisor')->nullable(); -->
            <!-- $table->unsignedBigInteger('id_supervisor')->nullable(); -->
            <!-- $table->unsignedBigInteger('id_usuario'); -->
            <!-- $table->string('aprovado')->default('no'); -->
            <!-- $table->string('municipio'); -->
            <!-- $table->string('territorio'); -->
            <!-- $table->string('c/s')->nullable(); -->
            <!-- $table->string('p/s')->nullable(); -->
            <!-- $table->string('personal_supervisado')->nullable(); -->
            <!-- $table->string('cargo')->nullable(); -->
            <!-- $table->text('observaciones')->nullable(); -->
