<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import DataTable from 'datatables.net-vue3';
import Buttons from 'datatables.net-buttons-dt';
import ButtonsHtml5 from 'datatables.net-buttons/js/buttons.html5';
import { Head, Link } from '@inertiajs/inertia-vue3';
DataTable.use(Buttons);
DataTable.use(ButtonsHtml5);


const options = {
    columnDefs: [
        { orderable: false, targets: 6 },
    ],
    "language": {
        "info": "Pagina _PAGE_ de _PAGES_",
        "decimal":        "",
        "emptyTable":     "No hay datos",
        "infoEmpty":      "Showing 0 to 0 of 0 registros",
        "infoFiltered":   "(filtrado de _MAX_ total registros)",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     " _MENU_  registros",
        "loadingRecords": "Cargando...",
        "processing":     "Procesando...",
        "search":         "Buscar:",
        "zeroRecords":    "No se encontro ningun dato",
        "paginate": {
            "first":      "Primero",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior"
        },
    },
};

defineProps({
    hojas_monitoreo: Array,
    user: Object,
});
</script>
<style>
@import 'datatables.net-dt';
@import 'datatables.net-buttons-dt';
</style>

<template>
<AppLayout title="Hojas Monitoreo">
    <template #header>
        <div>
            <h2 class="font-semibold text-m text-gray-800 leading-tight">
                Hojas de Monitoreo del componente de seguridad alimentaria y nutricional
            </h2>
        </div>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-5">
                <div class="mb-4">
                    <Link v-if="user.role !== 'Visitante'" :href="route('hoja-monitoreo.create')" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">
                        agregar nueva hoja
                    </Link>
                </div>


                <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-8">
                    <DataTable id="example" class="w-full text-sm text-left text-gray-500 pt-5"
                        :options="options"
                    >
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                            <tr>
                                <th scope="col" class="py-3 px-6">
                                    Codigo
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Supervisor
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Municipio
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Territorio
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Estado
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Ultima Actualización
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="hoja of hojas_monitoreo" class="bg-white border-b  hover:bg-gray-50 ">
                                <td class="p-4 w-4">
                                    {{ hoja.id }}
                                </td>
                                <td class="py-4 px-6">
                                    {{ hoja.supervisor }}
                                </td>
                                <td class="py-4 px-6">
                                    {{ hoja.municipio }}
                                </td>
                                <td class="py-4 px-6">
                                    {{ hoja.territorio }}
                                </td>
                                <td class="py-4 px-6">
                                    <span v-if="hoja.aprovado">Aprobado</span>
                                    <span v-else>Esperando Aprobacion</span>
                                </td>
                                <td class="py-4 px-6">
                                    {{ hoja.updated_at }}
                                </td>
                                <td class="py-4 px-6">
                                    <Link :href="route('hoja-monitoreo.show', hoja)" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">
                                        Administrar
                                    </Link>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Codigo</th>
                                <th>Supervisor</th>
                                <th>Municipio</th>
                                <th>Territorio</th>
                                <th>Estado</th>
                                <th>Ultima Actualizacion</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </DataTable>
                </div>

                </div>
            </div>
        </div>
    </AppLayout>
</template>
