<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Head, Link } from '@inertiajs/inertia-vue3';
</script>

<script>
    export default {
        props: {
            errors: Object,
            user: Object,
            hoja: Object,
            insumos: Array,
        },

    data () {
        return {
            editMode: false,
            isOpen: false,
            form: {
                hoja_monitoreo_id: this.hoja.id,
                user_id: this.user.id,
                lote: '',
                nombre: '',
                in_stock: '',
                saldo_kardex: '',
                entrada: '',
                med: '',
                activo: '',
                DR: '',
                no_kardex: '',
                existencia_real: '',
                observaciones: '',
            }
        }
    },

    methods: {
        openModal() {
            this.isOpen = true;
        },
        closeModal() {
            this.isOpen = false;
            this.reset();
            this.editMode=false;
        },
        reset() {
            this.form = {
                hoja_monitoreo_id: this.hoja.id,
                lote: null,
                body: null,
            }
        },
        save(data) {
            this.$inertia.post(this.route('insumo.store'), data,{
                preserveScroll: true
            });
            this.reset();
            this.closeModal();
            this.editMode = false;
        },
        edit(data) {
            this.form = Object.assign({}, data);
            if(this.form.activo){
                this.form.activo = true;
            }
            this.editMode = true;
            this.openModal();
        },
        update(data) {
            data.user_id = this.user.id;
            data._method = 'PATCH';
            this.$inertia.put(this.route('insumo.update', data.id), data, {
                preserveScroll: true
            });
            this.reset();
            this.closeModal();
        },
        deleteRow(data) {
            if (!confirm('Desea eliminar el insumo?')) return;
            data._method = 'DELETE';
            this.$inertia.delete(this.route('insumo.destroy', data.id), {
                preserveScroll: true
            });
            this.reset();
            this.closeModal();
        },
    }

    }
</script>

<template>
<AppLayout title="Dashboard">
    <template #header>
        <h2 class="font-semibold text-m text-gray-800 leading-tight">
            Vista Hoja Monitoreo
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-5">
                <div class="overflow-hidden bg-white shadow sm:rounded-lg">

                    <div class="px-4 py-5 sm:px-6">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Hoja de monitoreo - {{ hoja.id }}</h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                            Detalles de la hoja de monitoreo, ultima actualizacion   {{ hoja.updated_at }}
                            por
                            <Link :href="route('usuario.show', hoja.actualizado.id)" class="underline text-blue-500 hover:text-blue-700">
                            {{ hoja.actualizado.name }}
                            </Link>
                        </p>
                    </div>

                    <div class="border-t border-gray-200">
                        <dl>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Fecha</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.fecha }}</dd>
                            </div>

                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Supervisor</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.supervisor }}</dd>
                            </div>

                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Creado por</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                    <Link :href="route('usuario.show', hoja.user.id)" class="underline text-blue-500 hover:text-blue-700">
                                    {{ hoja.user.name }}
                                    </Link>
                                </dd>
                            </div>

                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Estado</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                    <span v-if="hoja.aprovado" class="text-green-500 font-bold">
                                        Aprobado
                                        <!-- <Link :href="route('usuario.show', hoja.user.id)" class="underline text-blue-500 hover:text-blue-700"> -->
                                        <!--     {{ hoja.aprovado_por.name }} -->
                                        <!-- </Link> -->
                                    </span>
                                    <span v-else>Esperando Aprobacion</span>
                                </dd>
                            </div>

                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Municipio</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.municipio }}</dd>
                            </div>

                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Territorio</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.territorio }}</dd>
                            </div>

                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Centro de Salud</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.cs }}</dd>
                            </div>

                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Puesto de Salud</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.ps }}</dd>
                            </div>

                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Personal Supervisado</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.personal_supervisado }}</dd>
                            </div>

                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Cargo</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.cargo }}</dd>
                            </div>

                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Observacioens Generales</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ hoja.observaciones }}</dd>
                            </div>

                            <div v-if="hoja.photo" class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Archivos Adjuntos</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                    <a :href="hoja.photo" class="underline text-blue-500 hover:text-blue-700">
                                        Imagen
                                    </a>
                                </dd>
                            </div>

                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500"></dt>
                                <Link v-if="user.role !== 'Visitante'" :href="route('hoja-monitoreo.edit', hoja.id)" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">
                                    Editar cabecera hoja de monitoreo
                                </Link>
                                <a v-if="user.role !== 'Visitante' && hoja.aprovado" :href="route('hoja-monitoreo-pdf', hoja.id)" :target="_blank" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">
                                    Exportar PDF
                                </a>
                            </div>

                        </dl>
                    </div>
                </div>

                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Insumos del programa de nutricion</h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Detalles de los insumos de la  hoja de monitoreo </p>
                </div>

                <div>
                    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">
                            <button v-if="user.role !== 'Visitante'" @click="openModal()" class="inline-flex items-center mb-5 px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">Agregar Insumo</button>

                            <div v-for="insumo in insumos" :key="insumo.id" class="overflow-x-auto relative shadow-md sm:rounded-lg mb-6">
                                <table class="w-full text-sm text-left text-gray-500 ">
                                    <thead class="text-xs text-gray-700 uppercase ">
                                        <tr>
                                            <th scope="col" class="py-2 px-4 bg-gray-50 ">
                                                Nombre
                                            </th>
                                            <th scope="col" class="py-2 px-4">
                                                Fecha Vencimiento
                                            </th>
                                            <th scope="col" class="py-2 px-4 bg-gray-50 ">
                                                Existencia
                                            </th>
                                            <th scope="col" class="py-2 px-4">
                                                Entrada
                                            </th>
                                            <th scope="col" class="py-2 px-4 bg-gray-50">
                                                No de Kardex
                                            </th>
                                            <th scope="col" class="py-2 px-4">
                                                Saldo en Kardex
                                            </th>
                                            <th scope="col" class="py-2 px-4 bg-gray-50">
                                                Si/No
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="border-b border-gray-200 ">
                                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap bg-gray-50 ">
                                                {{ insumo.nombre }}
                                            </th>
                                            <td class="py-2 px-4">
                                                {{ insumo.fecha_vencimiento }}
                                            </td>
                                            <td class="py-2 px-4 bg-gray-50 ">
                                                {{ insumo.in_stock }}
                                            </td>
                                            <td class="py-2 px-4">
                                                {{ insumo.entrada }}
                                            </td>
                                            <td class="py-2 px-4 bg-gray-50 ">
                                                {{ insumo.no_kardex }}
                                            </td>
                                            <td class="py-2 px-4">
                                                {{ insumo.saldo_kardex }}
                                            </td>
                                            <td class="py-2 px-4 bg-gray-50 ">
                                                <span v-if="insumo.activo">Si</span>
                                                <span v-else>No</span>
                                            </td>
                                        </tr>
                                        <tr class="text-xs text-gray-700 uppercase  font-black">
                                            <td scope="col" class="py-3 px-6 bg-gray-50 ">
                                                DR SEGUN SIGSA
                                            </td>
                                            <td class="py-2 px-4">
                                                MED
                                            </td>
                                            <td class="py-2 px-4 bg-gray-50 ">
                                                LOTE
                                            </td>
                                            <td class="py-2 px-4">
                                                OBSERVACIONES
                                            </td>
                                        </tr>
                                        <tr class="border-b border-gray-200 ">
                                            <td class="py-2 px-4 bg-gray-50 ">
                                                {{ insumo.DR }}
                                            </td>
                                            <td class="py-2 px-4">
                                                {{ insumo.med }}
                                            </td>
                                            <td class="py-2 px-4 bg-gray-50 ">
                                                {{ insumo.lote }}
                                            </td>
                                            <td class="py-2 px-4" colspan="4">
                                                {{ insumo.observaciones }}
                                            </td>
                                        </tr>
                                        <tr class="border-b border-gray-200 ">
                                            <td class="py-2 px-4" colspan="5">
                                                Ultima actualizacion  {{ insumo.updated_at }} por
                                                <Link v-if="insumo.user" :href="route('usuario.show', insumo.user.id)" class="underline text-blue-500 hover:text-blue-700">
                                                {{ insumo.user.name }}
                                                </Link>
                                            </td>
                                            <td  v-if="user.role !== 'Visitante'" class="py-2 px-4 bg-gray-50 " colspan="2">
                                                <div class="flex justify-end">
                                                    <button @click="edit(insumo)" class="inline-flex items-center mr-2 px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition"> Editar </button>

                                                    <button @click.prevent="deleteRow(insumo)" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">Eliminar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                    <div class="fixed z-10 inset-0 overflow-y-auto ease-out duration-400" v-if="isOpen">
                      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

                        <div class="fixed inset-0 transition-opacity">
                          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                        </div>

                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​
                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">



                          <form>


                                <div class="mt-5 md:col-span-2 md:mt-0">
                                    <div class="overflow-hidden shadow sm:rounded-md">
                                        <div class="bg-white px-4 py-5 sm:p-6">
                                        <div class="grid grid-cols-6 gap-6">

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                                                <input type="text" name="nombre" id="nombre" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"  placeholder="nombre" v-model="form.nombre"/>
                                                <div v-if="errors.nombre" class="text-red-500">{{ errors.nombre }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-3">
                                                <label for="fecha_vencimiento" class="block text-sm font-medium text-gray-700">Fecha Vencimiento</label>
                                                <input type="date" name="fecha_vencimiento" id="fecha_vencimiento" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.fecha_vencimiento"/>
                                                <div v-if="errors.fecha_vencimiento" class="text-red-500">{{ errors.fecha_vencimiento }}</div>
                                            </div>


                                            <div class="col-span-6">
                                                <label for="observaciones" class="block text-sm font-medium text-gray-700">Observaciones</label>
                                                <input type="text" name="observaciones" id="observaciones" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.observaciones"/>
                                                <div v-if="errors.observaciones" class="text-red-500">{{ errors.observaciones }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                                                <label for="lote" class="block text-sm font-medium text-gray-700">Lote</label>
                                                <input type="number" name="lote" id="lote" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.lote"/>
                                                <div v-if="errors.lote" class="text-red-500">{{ errors.lote }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                                <label for="stock" class="block text-sm font-medium text-gray-700">Existencia</label>
                                                <input type="number" name="stock" id="stock" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.in_stock"/>
                                                <div v-if="errors.in_stock" class="text-red-500">{{ errors.lote }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                                <label for="Saldo_Kardex" class="block text-sm font-medium text-gray-700">Saldo Kardex</label>
                                                <input type="number" name="Saldo_Kardex" id="Saldo_Kardex" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.saldo_kardex"/>
                                                <div v-if="errors.saldo_kardex" class="text-red-500">{{ errors.saldo_kardex }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                                <label for="entrada" class="block text-sm font-medium text-gray-700">Entrada</label>
                                                <input type="number" name="entrada" id="entrada" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.entrada"/>
                                                <div v-if="errors.entrada" class="text-red-500">{{ errors.entrada }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                                <label for="no_kardex" class="block text-sm font-medium text-gray-700">No. Kardex</label>
                                                <input type="number" name="no_kardex" id="no_kardex" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.no_kardex"/>
                                                <div v-if="errors.no_kardex" class="text-red-500">{{ errors.no_kardex }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                                <label for="DR" class="block text-sm font-medium text-gray-700">DR segun sigsa</label>
                                                <input type="number" name="DR" id="DR" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.DR"/>
                                                <div v-if="errors.DR" class="text-red-500">{{ errors.DR }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                                <label for="med" class="block text-sm font-medium text-gray-700">MED</label>
                                                <input type="number" name="med" id="med" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" v-model="form.med"/>
                                                <div v-if="errors.med" class="text-red-500">{{ errors.med }}</div>
                                            </div>

                                            <div class="col-span-6 sm:col-span-4 mb-4">
                                                <div class="flex items-center">
                                                    <input id="activo" name="activo" type="checkbox" v-model="form.activo"  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                                    <label for="activo" class="ml-2 block text-sm text-gray-900">
                                                        <span v-if="form.activo">Marcar como: "No"</span>
                                                        <span v-else>Marcar como: "Si"</span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        </div>
                                    </div>
                                </div>



                          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="store()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="!editMode" @click.prevent="save(form)">
                                  Guardar
                              </button>
                            </span>

                            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                              <button wire:click.prevent="store()" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition ease-in-out duration-150 sm:text-sm sm:leading-5" v-show="editMode" @click.prevent="update(form)">
                                  Actualizar
                              </button>
                            </span>

                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">

                              <button @click="closeModal()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                                  Cancelar
                              </button>
                            </span>

                          </div>
                          </form>



                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
              </div>
            </div>
        </div>
    </AppLayout>
</template>
